let mapleader=" "

set visualbell
set hlsearch
set ignorecase
set incsearch
set smartcase
set ideajoin

map gr <Action>(ShowUsages)
map gy <Action>(GotoTypeDeclaration)
map gi <Action>(GotoImplementation)
map <C-o> <Action>(Back)
map <C-i> <Action>(Forward)
map <leader>w <Action>(EditorToggleUseSoftWraps)
map <S-h> <Action>(HideAllWindows)
