let mapleader=" "

set visualbell
set hlsearch
set ignorecase
set incsearch
set smartcase
set ideajoin

" Key mapping onto IntelliJ's functions
" Use :actionlist <pattern> to find possible binding targets
map gr <Action>(ShowUsages)
map gy <Action>(GotoTypeDeclaration)
map gi <Action>(GotoImplementation)
map <C-o> <Action>(Back)
map <C-i> <Action>(Forward)
map <leader>w <Action>(EditorToggleUseSoftWraps)
map <S-h> <Action>(HideAllWindows)
map <C-g> <Action>(SelectInProjectView)
map <leader>e <Action>(ActivateProjectToolWindow)
map <leader><leader> :b#<CR>
map <leader>g <Action>(GotoFile)
map <leader>b <Action>(RecentFiles)
map <leader>n <Action>(EditorToggleShowLineNumbers)
map <leader>o <Action>(FileStructurePopup)
map <leader>s <Action>(GotoSymbol)
map <leader>rn <Action>(RenameElement)
map <leader>c <Action>(GotoAction)
map <leader>a <Action>(GotoAction)
map <leader>1 <Action>(ToggleZenMode)
map <leader>rr <Action>(Refactorings.QuickListPopupAction)
map <leader>fd <Action>(ReformatCode)
map ]d <Action>(GotoNextError)
map [d <Action>(GotoPreviousError)
map ]h <Action>(VcsShowNextChangeMarker)
map [h <Action>(VcsShowPrevChangeMarker)
map <C-y> <CR>
map ?? <Action>(FindInPath)
map <leader>* viw<Action>(FindInPath)
map <leader>m <Action>(MultiHighlight)
map <leader>M <Action>(MultiHighlight.ClearAction)
map <leader>[ <Action>(Vcs.Show.Shelf)

" From https://wizone.solutions/2020/07/16/workaround-for-zr-expand-all-folds-not-working-in-ideavim-0-58-in-phpstorm-intellij-idea-etc/
map zR :action ExpandAllRegions<CR>:action ExpandAllRegions<CR>

" Turn of search highlighting
map <leader><CR> :nohl<CR>

Plug 'tpope/vim-surround'
Plug 'tpope/vim-commentary'
packadd matchit