[user]
    name = 邱勇捷 (Yongjie Khoo)
    email = yongjie.khoo@matrixport.com
[push]
    default = simple
[alias]
    a = add
    aa = add --all
    b = branch
    c = commit
    can = commit --amend --no-edit
    co = checkout
    com = checkout master

    d = -c core.pager=delta diff
    dd = !git -c core.pager='delta --side-by-side' diff
    dlc = !git d HEAD^..HEAD
    dn = diff --name-only
    dm = diff master...
    ds = !git -c core.pager=delta diff --staged
    dds = !git -c core.pager='delta --side-by-side' diff --staged
    dt = difftool
    dw = diff --word-diff=color

    ec = config --global --edit
    f = fetch

    l = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)'
    la = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
    ll = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)'
    lla = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all

    mm = merge master
    prp = pull --rebase --prune
    pum = pull upstream master
    s = status --short --branch --untracked-files
[core]
    autocrlf = input
[diff]
    tool = vimdiff
[difftool]
    prompt = false
[delta]
    ; syntax-theme = 1337
    ; syntax-theme = Coldark-Dark
    ; syntax-theme = Nord
    ; syntax-theme = OneHalfDark
    syntax-theme = TwoDark
    ; syntax-theme = gruvbox-dark
    ; syntax-theme = zenburn
    navigate = true
    line-numbers = true
[interactive]
    diffFilter = delta --color-only
[merge]
    conflictstyle = diff3
[url "git@gitlab.matrixport.com:"]
    insteadOf = https://gitlab.matrixport.com/

